body {
    width: 100%;
    margin: 0;
    padding: 0;
}
/* The Header Section*/
#header {
    font-family: sans-serif,'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #247a8a;
    padding: 1px;
    overflow: auto;
    box-shadow: 1px 1px 20px black;
}
#header li {
    list-style-type: none;
    display: inline;
    padding-right: 30px;
}
#header a {
    text-decoration: none;
    color: #ffffff;
}
#header a:hover {
    text-decoration: underline;
}
#rightList {
    float: right;
    padding-right: 5px;
}
/***********End of Header*************/
#content {
    width: auto;
}
#bannerSection {
    width: 80%;
    text-align: center;
    height: 300px;
    margin: auto;
    border: 1px dotted black;
    background-image: url("photos/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tagLine {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    text-shadow: 1px 15px 30px black;
}
#bannerSection button:hover {
    opacity: 0.5;
}


